@font-face {
  font-family: Gorditas;
  font-weight: normal;
  src: url(../assets/fonts/gorditas/Gorditas-Regular.eot);
  src: url(../assets/fonts/gorditas/Gorditas-Regular.eot#iefix) format('embedded-opentype'),
       url(../assets/fonts/gorditas/Gorditas-Regular.woff2) format('woff2'),
       url(../assets/fonts/gorditas/Gorditas-Regular.woff) format('woff'),
       url(../assets/fonts/gorditas/Gorditas-Regular.ttf) format('truetype'),
       url(../assets/fonts/gorditas/Gorditas-Regular.woff#Gorditas-Regular) format('svg');
}

@font-face {
  font-family: Gorditas;
  font-weight: bold;
  src: url(../assets/fonts/gorditas/Gorditas-Bold.eot);
  src: url(../assets/fonts/gorditas/Gorditas-Bold.eot#iefix) format('embedded-opentype'),
       url(../assets/fonts/gorditas/Gorditas-Bold.woff2) format('woff2'),
       url(../assets/fonts/gorditas/Gorditas-Bold.woff) format('woff'),
       url(../assets/fonts/gorditas/Gorditas-Bold.ttf) format('truetype'),
       url(../assets/fonts/gorditas/Gorditas-Bold.woff#Gorditas-Bold) format('svg');
}

@font-face {
  font-family: VAGRounded;
  src: url(../assets/fonts/vag-rounded/VAGRounded.eot);
  src: url(../assets/fonts/vag-rounded/VAGRounded.eot#iefix) format('embedded-opentype'),
       url(../assets/fonts/vag-rounded/VAGRounded.woff2) format('woff2'),
       url(../assets/fonts/vag-rounded/VAGRounded.woff) format('woff'),
       url(../assets/fonts/vag-rounded/VAGRounded.ttf) format('truetype'),
       url(../assets/fonts/vag-rounded/VAGRounded.svg#VAGRoundedBT-Regular) format('svg');
}

@font-face {
  font-family: FolksDecoon;
  src: url(../assets/fonts/folksdecoon/FolksDecoon.eot);
  src: url(../assets/fonts/folksdecoon/FolksDecoon.eot#iefix) format('embedded-opentype'),
       url(../assets/fonts/folksdecoon/FolksDecoon.woff2) format('woff2'),
       url(../assets/fonts/folksdecoon/FolksDecoon.woff) format('woff'),
       url(../assets/fonts/folksdecoon/FolksDecoon.ttf) format('truetype'),
       url(../assets/fonts/folksdecoon/FolksDecoon.svg#FolksDecoon-Light) format('svg');
}

:root {
  color-scheme: only light;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

html, body {
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Gorditas, VAGRounded, FolksDecoon, Lato, sans-serif;
  font-weight: bold;
  color: #1f2024;
}

img {
  display: block;
  max-width: 100%;
}

a, a:hover, a:focus-visible, a:active {
  text-decoration: none;
  color: inherit;
}

button, button:focus-visible, button:active {
  border: none;
  outline: none;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
}

input {
  display: block;
}

input[type=range] {
  -webkit-appearance: none;
	        appearance: none;
	border: none;
	outline: none;
  background: transparent;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
}

ul {
  list-style-type: none;
}

section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.1vw;
  position: relative;
  width: 100%;
  min-width: 100%;
}

h1 {
  font-size: 2.4vw;
}

h2 {
  font-size: 2vw;
}

h3 {
  font-family: VAGRounded, sans-serif;
  font-size: 1.1vw;
}

h4, p {
  font-family: FolksDecoon, sans-serif;
  font-size: 1.1vw;
}

.hidden {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0);
          transform: scale3d(0, 0, 0);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.doodle {
  width: 5.5vw;
  height: 5.5vw;
}

.divider {
  position: absolute;
  bottom: -2px;
  min-width: 100vw;
  width: 100vw;
  height: calc(100vw/8);
}

@-webkit-keyframes popUp {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 1);
            transform: scale3d(0, 0, 1);
  }
  75% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes popUp {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 1);
            transform: scale3d(0, 0, 1);
  }
  75% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.popup {
  -webkit-animation: popUp 0.5s ease-out;
          animation: popUp 0.5s ease-out;
}

@-webkit-keyframes messagePopUp {
  0%, 15%, 100% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0);
            transform: scale3d(0, 0, 0);
  }
  1% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  1.5%, 14.5% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes messagePopUp {
  0%, 15%, 100% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0);
            transform: scale3d(0, 0, 0);
  }
  1% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  1.5%, 14.5% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.message.popup {
  -webkit-animation: messagePopUp 30s 1s ease-out 2;
          animation: messagePopUp 30s 1s ease-out 2;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: #1E1F22;
}

.loading img {
  display: block;
  width: 25%;
  max-width: 25%;
}

.loading > img,
.navbar,
.cuties-slideshow > img, .overlay, #mint > a, .description > .container,
.book, .book > img:first-child, .book-page, .book-page > img, .book-text, .book-text > img,
.book-browser, .story .cuties, .story .cuties img,
.cutie-features .cuties > img,
.map > img:first-child, .traveler, .traveler > img, .locations, .checkpoints, .checkpoints > img,
.map .message, #toggle-all-checkpoints, .platform > img, #walk-map, #walk-map > img,
.faq .icon {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.loading > img,
.cuties-slideshow > img, .overlay, #mint > a, .description > .container,
.book > img:first-child, .book-page, .book-text, .book-text > img,
.book-browser, .story .cuties img,
.map > img:first-child, .traveler, .traveler > img, .locations, .checkpoints, .checkpoints > img,
.map .message, #toggle-all-checkpoints, .platform > img, #walk-map, #walk-map > img,
.faq .icon {
  top: 0;
  bottom: 0;
}

.navbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 999;
  padding: 2.5vw 4.5vw;
}

.icon {
  width: 3vw;
  height: 3vw;
  -webkit-filter: drop-shadow(0 3px 2px rgba(31, 32, 36, 0.9));
          filter: drop-shadow(0 3px 2px rgba(31, 32, 36, 0.9));
}

#navbar-toggle {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#navbar-toggle, .icon {
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

#navbar-toggle .icon {
  width: 3vw;
  height: 1.5vw;
}

#navbar-toggle[aria-expanded="true"] {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#navbar-toggle[aria-expanded="true"] .icon:first-child {
  -webkit-transform: translateY(0.3rem) rotate(45deg);
      -ms-transform: translateY(0.3rem) rotate(45deg);
          transform: translateY(0.3rem) rotate(45deg);
}

#navbar-toggle[aria-expanded="true"] .icon:last-child {
  -webkit-transform: translateY(-0.3rem) rotate(135deg);
      -ms-transform: translateY(-0.3rem) rotate(135deg);
          transform: translateY(-0.3rem) rotate(135deg);
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  visibility: visible;
  opacity: 1;
}

#navbar-menu {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

#navbar-menu > ul {
  gap: 1.1vw;
}

.hero {
  height: 80vh;
  padding-bottom: 3vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00356b), color-stop(30%, #01579b), color-stop(80%, #b19cd9), to(#f2d1cb));
  background-image: -o-linear-gradient(top, #00356b 0%, #01579b 30%, #b19cd9 80%, #f2d1cb 100%);
  background-image: linear-gradient(to bottom, #00356b 0%, #01579b 30%, #b19cd9 80%, #f2d1cb 100%);
}

.title, .notification, .minting button, .minting input {
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.title {
  position: relative;
  top: 3vw;
  width: 52vw;
  height: 13vw;
  -webkit-filter: drop-shadow(0 5px 2px rgba(31, 32, 36, 0.9));
          filter: drop-shadow(0 5px 2px rgba(31, 32, 36, 0.9));
}

.notification {
  position: relative;
}

.notification p {
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  color: #ffe16b;
}

@-webkit-keyframes notify {
  0%, 100% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }
  10%, 90% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes notify {
  0%, 100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }
  10%, 90% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.notification p.active {
  visibility: visible;
  -webkit-animation: notify 10s ease-out;
          animation: notify 10s ease-out;
}

.minting, .minting button {
  width: 20vw;
  height: 10vw;
}

.minting {
  position: relative;
}

.minting button, .minting input {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

.minting button {
  bottom: 0;
  overflow: hidden;
  line-height: 10vw;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 5px 2px rgba(31, 32, 36, 0.9);
          box-shadow: 0 5px 2px rgba(31, 32, 36, 0.9);
  font-size: 2vw;
  text-align: center;
  color: #ffffff;
}

.minting input {
  bottom: 20%;
  width: 35%;
}

.minting input::-webkit-slider-runnable-track {
  height: 0.5rem;
  background-color: #ffe16b;
  border-radius: 1.5rem;
}

.minting input::-moz-range-track {
  height: 0.5rem;
  background-color: #ffe16b;
  border-radius: 1.5rem;
}

.minting input::-webkit-slider-thumb {
  margin-top: -0.75rem;
  background-image: url(../assets/hero/slider-logo.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 2rem;
  width: 2rem;
}

.minting input::-moz-range-thumb {
  margin-top: -0.75rem;
  background-image: url(../assets/hero/slider-logo.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 2rem;
  width: 2rem;
}

@-webkit-keyframes cutiesSlideshow1 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}

@keyframes cutiesSlideshow1 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}

@-webkit-keyframes cutiesSlideshow2 {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes cutiesSlideshow2 {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.cuties-slideshow > img:first-child {
  -webkit-animation: cutiesSlideshow1 20s linear infinite;
          animation: cutiesSlideshow1 20s linear infinite;
}

.cuties-slideshow > img:last-child {
  -webkit-animation: cutiesSlideshow2 20s linear infinite;
          animation: cutiesSlideshow2 20s linear infinite;
}

.description {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 200%;
  height: 11vw;
}

@-webkit-keyframes dragonForward {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

@keyframes dragonForward {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

.description .container {
  width: 25%;
  animation: dragonForward 20s linear reverse infinite;
}

.gold-ticket {
  overflow: hidden;
  width: 24vw;
  height: 12vw;
}

.story {
  padding-bottom: 6%;
  background-color: #0F2533;
  color: #ffe16b;
}

@-webkit-keyframes sword90 {
  0%, 100% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 4px, 0);
            transform: translate3d(0, 4px, 0);
  }
}

@keyframes sword90 {
  0%, 100% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 4px, 0);
            transform: translate3d(0, 4px, 0);
  }
}

#sword-90 {
  z-index: 3;
  -webkit-animation: sword90 0.8s ease infinite;
          animation: sword90 0.8s ease infinite;
}

.lighting {
  position: relative;
  width: 75vw;
  height: 45vw;
  background-image: -o-radial-gradient(#fffaca 0%, rgba(0, 0, 0, 0) 55%);
  background-image: radial-gradient(#fffaca 0%, rgba(0, 0, 0, 0) 55%);
}

.book {
  width: 60%;
  height: 100%;
}

.book-page {
  overflow: hidden;
}

.book-text > img {
  opacity: 0;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.book-text > img.active {
  opacity: 1;
}

.book-browser {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 8%;
  width: 80%;
  height: 50%;
}

.book-browser button {
  z-index: 1;
  width: 50%;
  height: 100%;
}

@-webkit-keyframes flipPage {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}

@keyframes flipPage {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}

.flip-page {
  -webkit-animation: flipPage 0.3s steps(14);
          animation: flipPage 0.3s steps(14);
}

.flip-page-fast {
  -webkit-animation: flipPage 0.2s steps(14) 7;
          animation: flipPage 0.2s steps(14) 7;
}

.story .cuties {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 18%;
  width: 80%;
}

.story .cuties > div {
  position: relative;
  width: 12vw;
  height: 24vw;
}

.story .cutie, .story .message {
  width: 12vw;
  height: 24vw;
}

.story .message {
  opacity: 0;
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;
}

.story .cuties > div:last-child .message.popup {
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
}

.story .doodle, .roadmap .doodle {
  position: absolute;
  z-index: 1;
}

.story .doodle {
  bottom: 0;
}

.cutie-features {
  padding-top: 1%;
  padding-bottom: 9%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e4c474), to(#fff2a4));
  background-image: -o-linear-gradient(top, #e4c474 0%, #fff2a4 100%);
  background-image: linear-gradient(to bottom, #e4c474 0%, #fff2a4 100%);
}

.cutie-features .cuties {
  position: relative;
  z-index: 1;
  width: 120%;
  height: 10vw;
}

.cutie-features .cuties img {
  width: 100%;
  -webkit-filter: drop-shadow(0 3px 2px rgba(31, 32, 36, 0.9));
          filter: drop-shadow(0 3px 2px rgba(31, 32, 36, 0.9));
}

@-webkit-keyframes cutiesRoll {
  from {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  to {
      -webkit-transform: translate3d(-100%, 0, 0);
              transform: translate3d(-100%, 0, 0);
  }
}

@keyframes cutiesRoll {
  from {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  to {
      -webkit-transform: translate3d(-100%, 0, 0);
              transform: translate3d(-100%, 0, 0);
  }
}

@-webkit-keyframes cutiesRoll2 {
  from {
      -webkit-transform: translate3d(100%, 0, 0);
              transform: translate3d(100%, 0, 0);
  }
  to {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
}

@keyframes cutiesRoll2 {
  from {
      -webkit-transform: translate3d(100%, 0, 0);
              transform: translate3d(100%, 0, 0);
  }
  to {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
}

.cutie-features .cuties img:first-child {
  -webkit-animation: cutiesRoll 30s linear infinite;
          animation: cutiesRoll 30s linear infinite;
}

.cutie-features .cuties img:last-child {
  -webkit-animation: cutiesRoll2 30s linear infinite;
          animation: cutiesRoll2 30s linear infinite;
}

.features, .values {
  gap: 1.1vw;
  position: relative;
  top: 1vw;
  width: 75vw;
}

.features {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 3vw;
}

.feature, .value {
  padding: 2vw;
  border-radius: 1.5rem;
  background-color: rgba(255, 249, 217, 0.25);
}

.feature {
  width: calc(100%/3);
  text-align: start;
}

.value {
  width: 60vw
}

.feature p, .value p {
  text-align: left;
}

.feature p {
  margin-top: 2vw;
}

.feature:nth-child(2), .value:nth-child(2), .question:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.feature:nth-child(3), .value:nth-child(3), .question:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.question:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.question:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.roadmap {
  padding-top: 4%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#19b5e6), to(#008bcf));
  background-image: -o-linear-gradient(top, #19b5e6 0%, #008bcf 100%);
  background-image: linear-gradient(to bottom, #19b5e6 0%, #008bcf 100%);
}

.roadmap .label {
  z-index: 3;
  width: 24vw;
  height: 8vw;
}

.roadmap .label, .map > img:first-child, .platform > img:first-child {
  -webkit-filter: drop-shadow(0 3px 2px rgba(31, 32, 36, 0.9));
          filter: drop-shadow(0 3px 2px rgba(31, 32, 36, 0.9));
}

.map {
  position: relative;
  bottom: 7vw;
  z-index: 1;
  width: 64vw;
  height: 48vw;
}

@-webkit-keyframes float {
	0%, 100% {
		-webkit-transform: translatey(0px);
		        transform: translatey(0px);
	}
	50% {
		-webkit-transform: translatey(-4px);
		        transform: translatey(-4px);
	}
}

@keyframes float {
	0%, 100% {
		-webkit-transform: translatey(0px);
		        transform: translatey(0px);
	}
	50% {
		-webkit-transform: translatey(-4px);
		        transform: translatey(-4px);
	}
}

.locations {
  -webkit-animation: float 4s ease-in-out infinite;
          animation: float 4s ease-in-out infinite;
}

.traveler, .checkpoints {
  overflow: hidden;
}

.traveler img, .checkpoints img {
  bottom: auto;
}

.traveler img, .checkpoints img, #toggle-all-checkpoints {
  opacity: 0;
}

.traveler img.active, .checkpoints img.active {
  opacity: 1;
}

.checkpoints img {
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

@-webkit-keyframes walkMap1 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, calc(-100%/5*4), 0);
            transform: translate3d(0, calc(-100%/5*4), 0);
  }
}

@keyframes walkMap1 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, calc(-100%/5*4), 0);
            transform: translate3d(0, calc(-100%/5*4), 0);
  }
}

@-webkit-keyframes walkMap2 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, calc(-100%/12*11), 0);
            transform: translate3d(0, calc(-100%/12*11), 0);
  }
}

@keyframes walkMap2 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, calc(-100%/12*11), 0);
            transform: translate3d(0, calc(-100%/12*11), 0);
  }
}

@-webkit-keyframes walkMap3 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, calc(-100%/9*8), 0);
            transform: translate3d(0, calc(-100%/9*8), 0);
  }
}

@keyframes walkMap3 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, calc(-100%/9*8), 0);
            transform: translate3d(0, calc(-100%/9*8), 0);
  }
}

@-webkit-keyframes walkMap4 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, calc(-100%/18*17), 0);
            transform: translate3d(0, calc(-100%/18*17), 0);
  }
}

@keyframes walkMap4 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, calc(-100%/18*17), 0);
            transform: translate3d(0, calc(-100%/18*17), 0);
  }
}

@-webkit-keyframes walkMap5 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, calc(-100%/8*7), 0);
            transform: translate3d(0, calc(-100%/8*7), 0);
  }
}

@keyframes walkMap5 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, calc(-100%/8*7), 0);
            transform: translate3d(0, calc(-100%/8*7), 0);
  }
}

@-webkit-keyframes walkMap6 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, calc(-100%/13*12), 0);
            transform: translate3d(0, calc(-100%/13*12), 0);
  }
}

@keyframes walkMap6 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, calc(-100%/13*12), 0);
            transform: translate3d(0, calc(-100%/13*12), 0);
  }
}

.walk-map-1 {
  -webkit-animation: walkMap1 0.5s steps(4) forwards;
          animation: walkMap1 0.5s steps(4) forwards;
}

.walk-map-2 {
  -webkit-animation: walkMap2 1s steps(11) forwards;
          animation: walkMap2 1s steps(11) forwards;
}

.walk-map-3 {
  -webkit-animation: walkMap3 0.75s steps(8) forwards;
          animation: walkMap3 0.75s steps(8) forwards;
}

.walk-map-4 {
  -webkit-animation: walkMap4 1.5s steps(17) forwards;
          animation: walkMap4 1.5s steps(17) forwards;
}

.walk-map-5 {
  -webkit-animation: walkMap5 0.75s steps(7) forwards;
          animation: walkMap5 0.75s steps(7) forwards;
}

.walk-map-6 {
  -webkit-animation: walkMap6 1s steps(12) forwards;
          animation: walkMap6 1s steps(12) forwards;
}

.map .message, .platform .message {
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
}

.map .message {
  -webkit-transform-origin: 80% 45%;
      -ms-transform-origin: 80% 45%;
          transform-origin: 80% 45%;
}

.platform {
  position: relative;
  bottom: 12vw;
  z-index: 3;
}

.platform, .platform > img, #walk-map {
  height: 6vw;
}

.platform > img {
  width: 6vw;
}

.platform, .platform .message {
  width: 48vw;
}

#walk-map {
  width: 6vw;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

#walk-map img {
  width: 3vw;
  height: 3vw;
}

@-webkit-keyframes leftStep {
  0%, 100% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 4px, 0);
            transform: translate3d(0, 4px, 0);
  }
}

@keyframes leftStep {
  0%, 100% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 4px, 0);
            transform: translate3d(0, 4px, 0);
  }
}

@-webkit-keyframes rightStep {
  0%, 100% {
    -webkit-transform: translate3d(0, 4px, 0);
            transform: translate3d(0, 4px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
}

@keyframes rightStep {
  0%, 100% {
    -webkit-transform: translate3d(0, 4px, 0);
            transform: translate3d(0, 4px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
}

#walk-map img:first-child {
  -webkit-animation: leftStep 1.5s ease infinite;
          animation: leftStep 1.5s ease infinite;
}

#walk-map img:last-child {
  -webkit-animation: rightStep 1.5s ease infinite;
          animation: rightStep 1.5s ease infinite;
}

.platform .message.popup {
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
}

.roadmap .doodle {
  bottom: -1vw;
}

.our-values {
  padding-top: 2%;
  padding-bottom: 11%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7e3aa), to(#f6c994));
  background-image: -o-linear-gradient(top, #f7e3aa 0%, #f6c994 100%);
  background-image: linear-gradient(to bottom, #f7e3aa 0%, #f6c994 100%);
}

.our-values h3 {
  margin-top: 2%;
}

.values {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stats {
  width: 48vw;
  height: 24vw;
}

.faq {
  padding-top: 2%;
  padding-bottom: 11%;
  background-color: #DA6624;
}

.faq h1 {
  color: #ffffff;
  text-shadow: 0 2px 2px rgba(31, 32, 36, 0.9);
}

.questions {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.1vw;
  position: relative;
  top: 1vw;
  width: 60vw;
}

.question {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5vw 3vw;
  width: 100%;
  border-radius: 1.5rem;
  background-color: rgba(255, 249, 217, 0.2);
}

.question .container {
  width: 100%;
}

.footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@-webkit-keyframes swordLeft {
  0%, 100% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@keyframes swordLeft {
  0%, 100% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@-webkit-keyframes swordRight {
  0%, 100% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
}

@keyframes swordRight {
  0%, 100% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
}

.question .container img {
  width: 6%;
  aspect-ratio: 2/1;
}

.question .container img:first-child {
  -webkit-animation: swordLeft 1s ease infinite;
          animation: swordLeft 1s ease infinite;
}

.question .container img:last-child {
  -webkit-animation: swordRight 1s ease infinite;
          animation: swordRight 1s ease infinite;
}

.question:not(:first-child) .container img {
  visibility: hidden;
}

.question h2 {
  width: 80%;
}

.answer p {
  margin-top: 2vw;
  text-align: justify;
}

.question:not(:first-child) .answer {
  display: none;
}

.faq .logo, .faq .icon {
  width: 4vw;
  height: 4vw;
}

.faq .logo {
  position: absolute;
  bottom: -2vw;
  z-index: 1;
}

.footer {
  padding: 2vw 4.5vw;
  background-color: #ffffff;
}

.info {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.tos {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 2.2vw;
}

.privacy, .terms {
  padding: 5vw;
  background: #f2e390;
}

.privacy h1, .terms h1{
  margin-bottom: 3%;
}

.privacy h2, .terms h2{
  margin-top: 2%;
  margin-bottom: 1%;
  font-family: VAGRounded, sans-serif;
  color: #236daa;
}

.privacy p, .privacy ul li, .terms p, .terms ul li{
  text-align: justify;
  font-family: FolksDecoon, sans-serif;
}

.privacy a, faq-link {
  color: steelblue;
  text-decoration: underline;
}

@media (hover: hover) {
  .icon:hover, .icon:focus {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }

  .title:hover, .title:focus {
    -webkit-transform: translate(0px, -4px);
        -ms-transform: translate(0px, -4px);
            transform: translate(0px, -4px);
    -webkit-filter: drop-shadow(0 6px 3px rgba(31, 32, 36, 0.9));
            filter: drop-shadow(0 6px 3px rgba(31, 32, 36, 0.9));
  }

  .minting button:hover, .minting button:focus {
    -webkit-transform: translate(0px, -4px);
        -ms-transform: translate(0px, -4px);
            transform: translate(0px, -4px);
    -webkit-box-shadow: 0 6px 3px rgba(31, 32, 36, 0.9);
            box-shadow: 0 6px 3px rgba(31, 32, 36, 0.9);
  }

  .minting button:hover + input, .minting button:focus + input {
    -webkit-transform: translate(0px, -4px);
        -ms-transform: translate(0px, -4px);
            transform: translate(0px, -4px);
  }
  
  #walk-map:hover, #walk-map:focus {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 3.3vw;
  }
  
  h2 {
    font-size: 2.5vw;
  }
  
  h3, p {
    font-size: 1.3vw;
  }

  .navbar {
    padding: 4vw 5vw;
  }

  .icon {
    width: 5.4vw;
    height: 5.4vw;
  }

  #navbar-toggle .icon {
    height: 2.7vw;
  }

  #navbar-menu ul {
    gap: 1.7vw;
  }

  .hero {
    height: 60vh;
  }

  .title {
    width: 70vw;
    height: 17.5vw;
  }

  .minting, .minting button {
    width: 30vw;
    height: 15vw;
  }

  .minting, .notification {
    top: 2vw;
  }

  .minting button {
    line-height: 15vw;
    padding: 3.5vw;
    font-size: 3.5vw;
  }

  .minting input::-webkit-slider-runnable-track {
    height: 0.4rem;
  }
  
  .minting input::-moz-range-track {
    height: 0.4rem;
  }

  .minting input::-webkit-slider-thumb {
    margin-top: -0.7rem;
    height: 1.8rem;
    width: 1.8rem;
  }

  .doodle {
    width: 9vw;
    height: 9vw;
  }

  .flappy-dragon.doodle {
    width: 10vw;
    height: 10vw;
  }

  .description {
    top: 78%;
  }

  .description .container {
    -webkit-animation-duration: 15s;
            animation-duration: 15s;
  }
  
  .gold-ticket {
    width: 42vw;
    height: 21vw;
  }

  #sword-90 {
    display: none;
  }

  .story > h1 {
    position: relative;
    top: 5vw;
  }

  .lighting {
    width: 120vw;
    height: 72vw;
  }

  .story .cuties {
    width: 80%;
  }

  .story .cuties > div, .story .cutie, .story .message {
    width: 15vw;
    height: 30vw;
  }

  .story .doodle {
    bottom: -1vw;
  }

  .cutie-features .cuties {
    width: 180%;
    height: 17vw;
  }
  
  .features, .values {
    width: 90%;
  }

  .roadmap .label {
    width: 30vw;
    height: 10vw;
  }

  .map {
    width: 96vw;
    height: 72vw;
  }

  .platform, .platform > img, #walk-map {
    height: 10vw;
  }
  
  .platform > img {
    width: 10vw;
  }
  
  .platform, .platform .message {
    width: 72vw;
  }
  
  #walk-map {
    width: 10vw;
  }
  
  #walk-map img {
    width: 5vw;
    height: 5vw;
  }
  
  .roadmap .doodle {
    bottom: -3vw;
  }

  .feature, .value {
    padding: 2.5vw 3vw;
  }

  .value, .questions {
    width: 75vw
  }

  .stats {
    width: 72vw;
    height: 36vw;
  }

  .faq .logo, .faq .icon {
    width: 5.4vw;
    height: 5.4vw;
  }

  .faq .logo {
    bottom: -2.7vw;
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 5vw;
  }
  
  h2 {
    font-size: 4.2vw;
  }

  h3, p {
    font-size: 3vw;
  }

  section.container,
  #navbar-menu ul.container, .features.container,
  .values.container, .questions.container {
    gap: 2.1vw;
  }

  .tos.container {
    gap: 3.2vw;
  }

  .navbar {
    padding: 7vw 6vw;
  }

  .icon {
    width: 10vw;
    height: 10vw;
  }

  #navbar-toggle.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  #navbar-toggle .icon {
    width: 9vw;
    height: 4.5vw;
  }

  #navbar-menu, #navbar-menu ul {
    inset: 0;
    margin: auto;
  }

  #navbar-menu {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }

  #navbar-menu ul {
    position: absolute;
    height: 75%;
  }

  #navbar-menu ul.container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  #navbar-menu li {
    left: 0;
    right: 0;
    margin: auto;
  }

  #navbar-menu .icon {
    width: 16vw;
    height: 16vw;
  }

  .hero {
    height: 45vh;
  }

  .title {
    width: 72vw;
    height: 18vw;
  }

  .minting, .minting button {
    width: 50vw;
    height: 25vw;
  }
  
  .minting button {
    line-height: 25vw;
    padding: 3.5vw;
    font-size: 5vw;
    border-radius: 0.75rem;
  }

  .minting input::-webkit-slider-runnable-track {
    height: 0.2rem;
  }
  
  .minting input::-moz-range-track {
    height: 0.2rem;
  }

  .minting input::-webkit-slider-thumb {
    margin-top: -0.6rem;
    height: 1.4rem;
    width: 1.4rem;
  }
  
  .description {
    top: 80%;
    width: 240%;
  }

  .description .container {
    width: 30%;
  }

  .doodle {
    width: 11vw;
    height: 11vw;
  }

  .flappy-dragon.doodle {
    width: 12vw;
    height: 12vw;
  }

  .gold-ticket {
    width: 48vw;
    height: 24vw;
  }

  .lighting {
    width: 160vw;
    height: 96vw;
  }

  .story .cuties {
    bottom: 3%;
    width: 55%;
  }

  .story .cuties > div, .story .cutie, .story .message {
    width: 18vw;
    height: 36vw;
  }

  .cutie-features .cuties {
    width: 250%;
    height: 26vw;
  }

  .features.container, .values.container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .feature {
    width: 100%;
  }

  .stats {
    width: 96vw;
    height: 48vw;
  }

  .roadmap .label {
    width: 51vw;
    height: 17vw;
  }

  .map {
    width: 100vw;
    height: 75vw;
  }
  
  .platform, .platform > img, #walk-map {
    height: 11vw;
  }
  
  .platform > img {
    width: 11vw;
  }
  
  .platform, .platform .message {
    width: 100vw;
  }
  
  #walk-map {
    width: 11vw;
  }
  
  #walk-map img {
    width: 5.5vw;
    height: 5.5vw;
  }

  .roadmap .doodle {
    bottom: -4vw;
  }
  
  .feature, .value {
    padding: 3vw 4vw;
  }

  .question {
    padding: 2vw 5vw;
  }

  .value, .questions {
    width: 90vw;
  }

  .faq .logo, .faq .icon {
    display: none;
  }

  .info.container, .tos.container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2vw;
  }
}

@media (orientation:landscape) and (hover:none){
  h3 {
    font-size: 1.7vw;
  }

  .icon {
    width: 4.5vw;
    height: 4.5vw;
  }
  
  .hero {
    height: 87vh;
  }

  .title {
    position: relative;
    top: 9vw;
    width: 60vw;
    height: 15vw;
  }
  
  .minting, .minting button {
    width: 24vw;
    height: 12vw;
  }

  .minting, .notification {
    top: 7vw;
  }

  .minting button {
    line-height: 12vw;
    padding: 2.5vw;
    font-size: 2vw;
  }

  .description {
    height: 2vw;
  }

  .doodle {
    width: 7vw;
    height: 7vw;
  }

  .flappy-dragon.doodle {
    width: 8vw;
    height: 8vw;
  }

  .gold-ticket {
    width: 34vw;
    height: 17vw;
  }

  .story h1 {
    top: 6vw;
  }
}